%footer
  .container
    %ul#footer_nav
      %li= link_to "lokal-global.de", "http://www.lokal-global.de/", :target => "blank"
      %li= link_to t('layouts.header.code'), "https://github.com/geraspora/diaspora-rlp", :target => "blank"
      %li= link_to "Impressum", "http://www.lokal-global.de/impressum_lg.html", :target => "blank"
      %li= link_to(t('layouts.application.toggle'), toggle_mobile_path)  if is_mobile_device?
    = image_tag 'branding/powered_by_diaspora.png', :height => "11px", :width => "145px"